/*
 Theme Name:   medio child
 Theme URI:    http://demo.themeton.com/medio
 Description:  medio Child Theme
 Author:       ThemeTon
 Author URI:   http://themeton.com
 Template:     medio
 Version:      1.0
*/

/* Theme customization starts here
  -------------------------------------------------------------- */

.themeton-menu > li:hover > a, .themeton-menu > li.current-menu-item > a, .themeton-menu > li.current_page_item > a, .themeton-menu > li.current-menu-ancestor > a {
    background-color: unset;
}

.pt-0 {
    padding-top: 0!important;
}

.pl-0 {
    padding-left: 0!important;
}

.pr-0 {
    padding-right: 0!important;
}


.tuvan-free {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #cb9d94;
    border-radius: 50px;
    color: #fff;
    padding: 0 25px;
}

.tuvan-free .header-text {
    text-align: center;
}

.tuvan-free .col {
    width: 20%;
}

.tuvan-free .col input, .tuvan-free .col select {
    border-radius: 50px;
    border-color: #c57e70;
}

.tuvan-free .col input, .tuvan-free .col select {
    height: 40px !important;
    line-height: 40px !important;
}


.tuvan-free input[type="submit"] {
    border: 1px solid #fff !important;
    background: transparent !important;
    color: #fff !important;
    height: 50px !important;
    line-height: 50px !important;
    border-radius: 50px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}

.heateor_ffc_facebook_comments {
    padding-top: 50px;
}

.uk-offcanvas-bar {
    background-color: #fff!important;
}
.uk-offcanvas-bar img.custom-logo {
    filter: unset!important;
}
.uk-offcanvas-bar .uk-nav-default>li>a,
.uk-offcanvas-bar .uk-nav-default>li.uk-active>a,
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a{
    color: #222!important;
}
.menu-item-1984 {
    display: none;
}

@media only screen and (max-width: 540px) {
    .d-sm-none {
        display: none!important;
    }
    .py-sm-0 {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
    .px-sm-0 {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .pt-sm-0 {
        padding-top: 0!important;
    }
    .px-sm-15 {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .menu-item-1861 {
        display: none;
    }
    .menu-item-1984 {
        display: block;
    }
    .uk-offcanvas-bar .uk-nav-parent-icon>.uk-parent>a::after {
        background-image: url("https://dentplus.vn/wp-content/uploads/2017/06/back.png")!important;
        transition: all .3s ease-in-out;
    }
    .featured-services .vc_row {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .service-form-class .vc_column-inner {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .service-form-class .tuvan-free {
        border-radius: 0;
    }
    .service-form-class .tuvan-free .header-text {
        padding: 15px 0;
    }
    .service-form-class .tuvan-free .header-text br {
        display: none;
    }
    .service-form-class .tuvan-free .col {
        margin-bottom: 10px;
        width: 100%;
    }
    .service-form-class .tuvan-free .col:last-child {
        margin-bottom: 0
    }
    .service-form-class .tuvan-free .col + p {
        margin-top: 0;
    }
    .home-intro .vc_column-inner {
        padding: 0!important;
    }
}

